/* TODO: implemen as Mui styled components instead of in css */

:root {
  --primary: rgba(105,64,165, 1);
  --accent: rgba(105,64,165, 0.3);
  --shopping: rgba(155,154,151,0.3);
  --eating-out: rgba(100,71,58,  0.3);
  --transportation: rgba(217,115,13, 0.3);
  --groceries: rgba(223,171,1,  0.3);
  --drinking: rgba(15,123,108, 0.3);
  --entertainment: rgba(11,110,153, 0.3);
  --home: rgba(105,64,165, 0.3);
  --other: rgba(173,26,114, 0.3);
  --income: rgba(224,62,62,  0.3);
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  min-height: 100vh;
  min-width: 100vw;
}

body {
  margin: 0;
  font-family: 'Montserrat', 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 1rem 3rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  margin-bottom: 2rem;
}

.header h1 {
  margin: 8px;
}

.header p {
  margin: 8px;
  font-style: italic;
}

a {
  color: black;
}

a:hover {
  color: var(--accent);
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav h2 {
  min-width: 300px;
  text-align: center;
}

.nav button {
  min-width: 125px;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  border: none;
}

button:hover {
  transform: scale(1.01);
  cursor: pointer;
}

button:disabled {
  pointer-events: none;
}

.dash {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
  margin: 1rem auto;
}

.dash div:first-child {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 50px;
}

.widget {
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);

}

.widget h3 {
  margin-top: 0;
}

#pie-chart {
  display: flex;
  width: 75%;
  justify-content: center;
  align-items: center;
}

#spending-summary {
  min-width: 300px;
}

#spending-summary td {
  min-width: 125px;
} 

#spending-summary table td:last-child {
  text-align: right;
}

#spending-details {
  margin-top: 50px;
}

.filter {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.category-pill {
  transition: background-color 0.3s;
  border: 1px solid #c2c2c2;
  border-radius: 20px;
  margin: none;
  padding: 0.25rem 0.5rem;
}

.selected {
  box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
  color: white;
}

#spending-details table {
  width: 100%;
}

#spending-details th {
  text-align: left;
  padding-bottom: 0.5rem;
}

#spending-details td {
  padding: 0.25rem 0;
}

.category {
  color: white;
  font-size: 0.75rem;
  margin: 0.25rem;
  padding: 0.25rem 0.5rem;
  border-radius: 8px;
  text-align: center;
  margin: auto;
}

.income {
  background-color: var(--income);
}

.shopping {
  background-color: var(--shopping);
}

.eating-out {
  background-color: var(--eating-out);
}

.transportation {
  background-color: var(--transportation);
}

.groceries {
  background-color: var(--groceries);
}

.drinking {
  background-color: var(--drinking);
}

.home {
  background-color: var(--home);
}

.entertainment {
  background-color: var(--entertainment);
}

.other {
  background-color: var(--other);
}

.skeleton {
  display: flex;
  gap: 3rem;
}

.skeleton-widget {
  background-color: #d2d2d2;
  mask: linear-gradient(-60deg, #000 30%, #0005, #000 70%) right/350% 100%;
  animation: shimmer 2.5s infinite;
  min-height: 300px;
}

@keyframes shimmer {
  100% {
    mask-position: left
  }
}